*
{
    margin: 0;
    padding: 0;
}

body
{
    background: url('fond2.jpg');
    background-size: cover;
}

.list
{
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    text-shadow: 7px 5px rgb(0, 0, 0);
    color: rgb(230, 0, 0);
}

h2
{
    font-size: 5rem;
    margin: 1rem 0 2rem 0;
    text-shadow: 5px 3px rgb(230, 0, 0);
}

h3
{
    text-align: center;
    font-size: 6rem;
    margin-top: 10rem;
    text-shadow: 5px 5px black;
    color: rgb(230, 0, 0);
}

input
{
    margin: 3rem;
    width: 25rem;
    text-align: center;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
}

button
{
    width: 7rem;
    height: 2.1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

li
{
    list-style: none;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(189, 189, 189);
    counter-increment: course;
    padding-top: 1.2rem;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

li:before
{
    content: counter(course);
    margin-right: 1rem;
    background: rgb(230, 0, 0);
    color: rgb(245, 245, 245);
    border-radius: 60px;
    font-weight: bold;
    border-radius: 60px;
	border-radius: 60px;
    padding: 0.5rem 1rem;
    text-shadow: 2px 2px rgb(2, 2, 2);
}